@font-face {
  font-family: 'Elsie';
  font-style: normal;
  font-weight: 400;
  src: local('Elsie'), local('Elsie-Regular'), url(../fonts/MYPjW7-QBiwbWbLngctTNqCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

